<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>CHỈNH SỬA THÔNG TIN KHÁCH HÀNG</h2>
<div class="d-flex justify-content-center mt-3">
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Họ và tên: </label>
            <input type="text" class="form-control" id="name" aria-describedby="name" value="">
        </div>
        <div class="mb-3">
            <label for="dateOfBirth" class="form-label">Ngày sinh </label>
            <input type="date" class="form-control" id="dateOfBirth" aria-describedby="dateOfBirth">
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label">Giới tính</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="gender">
                <label class="form-check-label" for="gender">
                    Nam
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="gender1" checked>
                <label class="form-check-label" for="gender1">
                    Nữ
                </label>
            </div>
        </div>
        <div class="mb-3">
            <label for="idCard" class="form-label">Số CMND</label>
            <input type="text" class="form-control" id="idCard">
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Số điện thoại:</label>
            <input type="text" class="form-control" id="phoneNumber">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Địa chỉ:</label>
            <input type="text" class="form-control" id="address">
        </div>
        <div class="mb-3">
            <label class="fs-5" for="">Loại khách: </label>
            <select class="form-select" aria-label="Default select example">
                <option value="">Diamond</option>
                <option value="">Platinium</option>
                <option value="">Gold</option>
                <option value="">Silver</option>
                <option value="">Member</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>