<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 class="text-center fw-bold my-3">DANH SÁCH DỊCH VỤ</h2>

<table class="table table-bordered">
    <tr>
        <th class="text-center">#</th>
        <th>Tên dịch vụ</th>
        <th>Diện tích (m<sup>2</sup>)</th>
        <th>Chi phí thuê</th>
        <th>Dịch vụ miễn phí đi kèm</th>
        <th>Số người tối đa</th>
        <th>Số tầng</th>
        <th>Mô tả tiện nghi khác</th>
        <th>Diện tích hồ bơi</th>
        <th>Loại phòng</th>
        <th>Loại dịch vụ</th>
        <th>Kiểu thuê</th>
        <th class="text-center">Sửa</th>
        <th class="text-center">Xóa</th>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>