<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="font-weight: bold">Cập nhật dịch vụ</h1>
<form class="w-50 border border-2 border-success p-3 rounded">
    <input type="hidden">
    <div class="form-group">
        <label for="name" style="font-weight: bold">Tên:</label>
        <div class="input-group">
            <input type="text" id="name" class="form-control" placeholder="Nhập tên" name="name">
            <span class="input-group-text"></span>
        </div>
    </div>

    <div class="mt-3 form-group">
        <label for="area" style="font-weight: bold">Diện tích:</label>
        <div  class="input-group">
            <input type="text" id="area" class="form-control" placeholder="Nhập diện tích" name="area">
            <span class="input-group-text"></span>
        </div>
    </div>

    <div class="mt-3 form-group">
        <label for="cost" style="font-weight: bold">Giá tiền:</label>
        <div  class="input-group">
            <input type="text" id="cost" class="form-control" placeholder="Nhập giá tiền" name="cost">
            <span class="input-group-text"></span>
        </div>
    </div>


    <div class="mt-3 form-group">
        <label for="maxPeople" style="font-weight: bold">Số người tối đa:</label>
        <div class="input-group">
            <input type="text" id="maxPeople" class="form-control" placeholder="Nhập số người tối đa"
                   name="maxPeople">
            <span class="input-group-text"></span>
        </div>
    </div>

    <div class="mt-3 form-group">
        <label for="standardRoom" style="font-weight: bold">Tiêu chuẩn phòng:</label>
        <div class="input-group">
            <input type="text" id="standardRoom" class="form-control" placeholder="Tiêu chuẩn phòng"
                   name="standardRoom">
            <span class="input-group-text"></span>
        </div>
    </div>

    <div class="mt-3 form-group">
        <label for="descriptionOtherConvenience" style="font-weight: bold">Mô tả:</label>
        <div class="input-group">
            <input type="text" id="descriptionOtherConvenience" class="form-control" placeholder="Nhập mô tả"
                   name="descriptionOtherConvenience">
            <span class="input-group-text"></span>
        </div>
    </div>

    <div class="mt-3 form-group">
        <label for="poolArea" style="font-weight: bold">Diện tích hồ bơi:</label>
        <div class="input-group">
            <input type="text" id="poolArea" class="form-control" placeholder="Nhập diện tích hồ bơi"
                   name="poolArea">
            <span class="input-group-text"></span>
        </div>
    </div>

    <div class="mt-3 form-group">
        <label for="numberOfFloors" style="font-weight: bold">Số tầng:</label>
        <div class="input-group">
            <input type="text" id="numberOfFloors" class="form-control" placeholder="Nhập số tầng"
                   name="numberOfFloors">
            <span class="input-group-text"></span>
        </div>
    </div>

    <div class="mt-3 form-group">
        <label for="facilityFree" style="font-weight: bold">Dịch vụ miễn phí:</label>
        <div class="input-group">
            <input type="text" id="facilityFree" class="form-control" placeholder="Nhập dịch vụ miễn phí"
                   name="facilityFree">
            <span class="input-group-text"></span>
        </div>
    </div>

    <div class="mt-3 form-group">
        <label for="facilityType" style="font-weight: bold">Loại dịch vụ:</label>
        <div class="input-group">
            <select id="facilityType" class="form-control" name="facilityType">
                <option></option>
            </select>
            <span class="input-group-text"></span>
        </div>
    </div>

    <div class="mt-3 form-group">
        <label for="rentType" style="font-weight: bold">Kiểu thuê:</label>
        <div class="input-group">
            <select id="rentType" class="form-control" name="rentType">
                <option></option>
            </select>
            <span class="input-group-text"></span>
        </div>
    </div>


    <div class="mt-3 text-center">
        <button class="btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark">
            -- Save --
        </button>
    </div>
</form>
</center>
</div>
</body>
</html>