<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>THÊM MỚI DỊCH VỤ</h2>
<div class="d-flex justify-content-center mt-3">
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Tên dịch vụ </label>
            <input type="text" class="form-control" id="name" aria-describedby="name">
        </div>
        <div class="mb-3">
            <label for="dientich" class="form-label">Diện tích sử dụng </label>
            <input type="date" class="form-control" id="dientich" aria-describedby="dateOfBirth">
        </div>
        <div class="mb-3">
            <label for="chiphi" class="form-label">Chi phí thuê </label>
            <input type="date" class="form-control" id="chiphi" aria-describedby="dateOfBirth">
        </div>
        <div class="mb-3">
            <label for="maxPeople" class="form-label">Số lượng người tối đa </label>
            <input type="date" class="form-control" id="maxPeople" aria-describedby="dateOfBirth">
        </div>
        <div class="mb-3">
            <label for="kieuthue" class="form-label">Kiểu thuê </label>
            <input type="date" class="form-control" id="kieuthue" aria-describedby="dateOfBirth">
        </div>
        <div class="mb-3">
            <label for="typeService" class="form-label">Dịch vụ miễn phí đi kèm: </label>
            <input type="date" class="form-control" id="typeService" aria-describedby="dateOfBirth">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>